options {
  listen-on port 53 { any; };
  directory "/var/named";
  allow-query { any; };
  recursion yes;
  allow-recursion {
    127.0.0.1;
    {% for domain in bind_domains %}
    {{ domain.network }}.0.0/16;
    {% endfor %}
  };

  forwarders {
    9.9.9.9;
    1.1.1.1;
  };

  forward only;
  dnssec-validation auto;
  allow-transfer { none; };
};

{% for domain in bind_domains %}
zone "{{ domain.name }}" IN {
    type master;
    file "/var/named/{{ domain.name }}.zone";
    allow-update { none; };
};

{% set rev_parts = domain.network.split('.') %}
{% set rev_zone = rev_parts[1] ~ '.' ~ rev_parts[0] ~ '.in-addr.arpa' %}
zone "{{ rev_zone }}" IN {
    type master;
    file "/var/named/{{ rev_zone }}.rev";
    allow-update { none; };
};

{% endfor %}